.cooperation {

}

.container {
  padding: 3.75rem 3rem;

  @media (max-width: 1280px) {
    padding: 0;
  }
}

.info {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0.6fr 1fr;
  gap: 11.375rem;

  img {
    width: 100%;
  }

  @media (max-width: 1280px) {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 0.625rem 4rem;
    grid-gap: 2rem;
  }
}

.title {
  font-size: 10.5rem;
  line-height: 12.625rem;
  padding: 3.5rem;
  margin-bottom: 8.75rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  letter-spacing: -0.03em;
  font-weight: 400;

  @media (max-width: 1280px) {
    font-size: 5rem;
    line-height: 5.75rem;
    margin-bottom: 4rem;
  }

  @media (max-width: 1024px) {
    font-size: 3rem;
    line-height: 3.75rem;
  }

  @media (max-width: 500px) {
    padding: 1.5rem 1rem;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
  }
}

.subTitle {
  font-size: 6rem;
  line-height: 7.1875rem;
  max-width: 67.875rem;
  margin-bottom: 5.375rem;

  @media (max-width: 1280px) {
    font-size: 4rem;
    line-height: 4.75rem;
    padding: 0 1.625rem;
  }

  @media (max-width: 500px) {
    padding: 0 0.625rem;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }

  span {
    color: #AB2EBF;
  }
}
