.list {
  display: grid;
  grid-gap: 1.5rem;
  
  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.listItem {
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1.5rem;

  @media (max-width: 768px) {
    grid-column: span 1 / span 2 !important;
  }
}

.title {
  font-weight: 700;
}

.description {
  font-weight: 400;
  font-size: 1.25rem;
}
